DEBUG=false
HTTP_ADDR=:8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=fpr
DB_USER=fpr
DB_PASS=
DB_SCHEMA=
DB_SSLMODE=disable
DB_FRESH=false

MANAGEMENT_COMPANY_FUND_URL=https://ew-mc.ru/funds/zakrytyy-paevoy-investitsionnyy-fond-rynochnykh-finansovykh-instrumentov-fond-pervichnykh-razmeshche/
