DEBUG=false
HTTP_ADDR=:8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=fpr
DB_USER=fpr
DB_PASS=
DB_SCHEMA=
DB_SSLMODE=disable
DB_FRESH=false

FPR_ADMIN_LOGIN=
FPR_ADMIN_PASSWORD_HASH=

MANAGEMENT_COMPANY_FUND_URL=https://ew-mc.ru/funds/zakrytyy-paevoy-investitsionnyy-fond-rynochnykh-finansovykh-instrumentov-fond-pervichnykh-razmeshche/

YAHOO_PROXY_MODE=disabled
YAHOO_PROXY_URL=
YAHOO_PROXY_LIST_URL=
